<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="Cipher">
    <test name="Cipher" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="encryptorProperties"/>
                <include name="poolTest"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.cipher.EncryptorPropertyTest"/>
            <class name="com.biit.cipher.PoolTests"/>
        </classes>
    </test>
</suite>
